.main-div{
  background-color: azure;

  .make-move-btn {
    height: 100px;
    width: 100px;
    cursor: pointer;
    border: 1px solid;
    background: black;
    margin: 10px;
  }
  
  .make-move-btn:hover {
    opacity: 80%;
    transition: all 0.3s;
    border: 5px solid darkgray;
  }
  
  .make-move-img {
    height: 180;
    width: 180px;
  
  }
  
  .make-move-div {
    height: 250px;
  }
  
  .table-body {
    tr {
      td {
        width: 50% !important;
      }
    }
  }
}
