<div class="main-div">
  <h3 class="text-4xl font-bold text-center">Rock, Paper, Scissors</h3>
  <div class="container  items-center">
    <div class="text-center"> Moves : ({{totalMoves}}/10) </div>
    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <table class="table  table-border">
          <thead>
            <tr>
              <th scope="col" colspan="2" class="text-center">Scoreboard</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr>
              <td class="text-center"><b>computer</b></td>
              <td class="text-center"><b>You</b></td>
            </tr>
            <tr>
              <td class="text-center"><b>{{ scores.computer }}</b></td>
              <td class="text-center"><b>{{ scores.person }}  </b></td>
            </tr>
          </tbody>
         
        </table>
        
      </div>
      <div class="col-sm-4">

      </div>

      
    </div>
    <div class="row make-move-div justify-content-center">
      <div class="col-sm-6 items-center" *ngIf="computer">
        <div class="row">
          
          <div class="text-center col-sm-12 items-center">
            <img class="make-move-img" [src]="'assets/' + computer + '-1.png'">
          </div>
          <div class="text-center col-sm-12 items-center">
            <span class="mr-8">Computer</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 items-center" *ngIf="person">
        <div class="row">
          <div class="text-center col-sm-12 items-center">
            <img class="make-move-img" [src]="'assets/' + person + '-2.png'">
          </div>
          <div class="text-center col-sm-12 items-center">
            <span class="mr-8">you</span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center" *ngIf="!computer && !person">
        <h4>let's play :)</h4>
      </div>
    </div>
    <div class="text-center">
      <img class="make-move-btn mask waves-effect waves-light rgba-white-slight cursor-pointer" (click)="play('rock')" src="assets/rock.png">
      <img class="make-move-btn mask waves-effect waves-light rgba-white-slight cursor-pointer" (click)="play('paper')" src="assets/paper.png">
      <img class="make-move-btn mask waves-effect waves-light rgba-white-slight cursor-pointer" (click)="play('scissor')" src="assets/scissor.png">
    </div>
    <div class="text-center">
      <button mat-button mat-raised-button color="primary"  (click)="reset()">
        Reset
      </button>
    </div>  
  </div>
</div>
